<div id="navigation">
    <p><a id="version" href="https://github.com/noctdruid/blog">v0.1.5</a></p><hr>
    <div class="singlenav"><a class="navlink" href="{% url 'blogcore:post_list' %}">main</a><br></div>
    <div class="singlenav"><a class="navlink" href="#">about/</a><br></div>
    <div class="singlenav"><a class="navlink" href="{% url 'blogcore:post_search' %}">search/</a><br></div>
    <div class="singlenav"><a class="navlink" href="#">example/</a><br></div>
    <div class="singlenav"><a class="navlink" href="#">mans/</a></div>
</div>
