{% load static %}
<div class="searchbar">
    {% if query %}
        <div class="search-results">
            {% if results %}
                <h3>search results for "{{ query }}":
                    {% with results.count as total_results %}
                        &nbsp;found {{ total_results }} result{{ total_results|pluralize }}.
                    {% endwith %}
                </h3>
            {% else %}
                <h3>There are no matching results. Try again with different keywords set.</h3>
            {% endif %}
            <p><a class="read-article" href="{% url 'blog:post_list' %}">RETURN TO BLOG</a></p>
        </div>
    {% else %}
        <div class="form-wrap">
            <form method="get" autocomplete="off">
                {{ form.as_p }}
                <input class="btn-img-input" type="image" name="search" src="{% static 'icons/svg/search.svg' %}" alt="search">
            </form>
        </div>
    {% endif %}
</div>
