{% load static %}

<div class="pagination">
    {% if page.has_previous %}
        <a class="yespage" href="?page={{ page.previous_page_number }}">
            <img src="{% static 'icons/previous-64.png' %}" alt="PREVIOUS" width="48" height="48">
        </a>
    {% else %}
        <a>
            <img src="{% static 'icons/previous-64.png' %}" alt="PREVIOUS" width="48" height="48">
        </a>
    {% endif %}
        <h3>{{ page.number }} / {{ page.paginator.num_pages }}</h3>
    {% if page.has_next %}
        <a class="yespage" href="?page={{ page.next_page_number }}">
            <img src="{% static 'icons/next-64.png' %}" alt="NEXT" width="48" height="48">
        </a>
    {% else %}
        <a class="nopage">
            <img src="{% static 'icons/next-64.png' %}" alt="NEXT" width="48" height="48">
        </a>
    {% endif %}
</div>
