{% load static %}

<div class="list-pages">
    {% if page.number != 1 %}
        <a class="first-page" href="?page=1">
            [ 1 ] -
        </a>
    {% endif %}
    {% if page.has_previous %}
        {% if page.previous_page_number > 1 %}
            <a class="previous-page" href="?page={{ page.previous_page_number }}">
                [ {{ page.previous_page_number }} ]
            </a>
        {% endif %}
    {% endif %}
    <a class="current-page" href="#">
        [ {{ page.number }} ]
    </a>
    {% if page.has_next %}
        {% if page.next_page_number != page.paginator.num_pages %}
            <a class="next-page" href="?page={{ page.next_page_number }}">
                [ {{ page.next_page_number }} ]
            </a>
        {% endif %}
    {% endif %}
    {% if page.paginator.num_pages != page.number %}
        <a class="last-page" href="?page={{ page.paginator.num_pages }}">
            / [ {{ page.paginator.num_pages }} ]
        </a>
    {% endif %}
</div>
