{% extends "blog/base.html" %}
{% load static %}

{% block title %}{{ request.site.name }} | About{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <div class="div-about-author">
        <h2>About author</h2>
        <p>{{ about_author }}</p>
    </div>

    <div class="div-about-blog">
        <h2>About blog</h2>
        <p>{{ about_blog }}</p>
    </div>

    <div class="div-about-stack">
        <h2>Technology stack</h2>
        {% for tech in techstack %}
            <div class="techstack-box">
                <img src="{{ MEDIA_URL }}{{ tech.icon }}" height=48 width=48>
                <p class="techstack-name">{{ tech.name }}</p>
                <p class="techstack-description">{{ tech.description }}</p>
                <a class="techstack-url" href="{{ tech.url }}">{{ tech.url }}</a>
            </div>
        {% endfor %}
    </div>

    <div class="div-about-contact">
        <h2>Contact email</h2>
        <p>{{ email }}</p>
    </div>
{% endblock %}
