{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/codehilite_styles.css' %}">
    <script src="{% static 'js/base.js' %}"></script>
</head>

<body>
    <!-- Page layout -->
    <div class="page">
        <!-- Navigation -->
        <div class="site-id">
            <span class="site-name">
              <a href="{% url 'blog:homepage' %}">
                {{ request.site.name }}
              </a>
            </span>
            <span class="menu-open" onclick="openNav()">[ menu ]</span>
        </div>
        <div id="myNav" class="overlay">
            <div class="overlay-content">
                <a href="javascript:void(0)" class="menu-close" onclick="closeNav()">[ close ]</a>
                <a href="{% url 'blog:about_page' %}" class="mlink">about</a>
                <a href="{% url 'blog:post_list' %}" class="mlink">blog</a>
                <a href="#" class="mlink">homelab</a>
                <a href="{% url 'blog:services_page' %}" class="mlink">services</a>
                <a href="#" class="mlink">meta+faq</a>
            </div>
        </div>
        <div class="desktop-navigation">
            <div class="site-id-desktop">
              <span class="site-name-desktop">
                <a href="{% url 'blog:homepage' %}">
                  {{ request.site.name }}
                </a>
              </span>
            </div>
            <div class="site-links">
                <a href="{% url 'blog:about_page' %}" class="navlink">[ about ]</a>
                <a href="{% url 'blog:post_list' %}" class="navlink">[ blog ]</a>
                <a href="#" class="navlink">[ homelab ]</a>
                <a href="{% url 'blog:services_page' %}" class="navlink">[ services ]</a>
                <a href="#" class="navlink">[ meta+faq ]</a>
            </div>
        </div>
        <hr class="main-hr">

        <!-- Content -->
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-wrap">
            <div class="footer-content">
            </div>
        </div>
    </footer>
</body>
</html>

