{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="div-home-title">
        <img class="home-icon" src="{% static 'icons/svg/skull.svg' %}" alt="mail">
        <h1 class="home-title">{{ title }}</h1>
    </div>

    <div class="div-home-double">
        <div class="div-home-paragraph">
            <h3>UNDERLYING MISSION</h3>
            <p class="home-paragraph">{{ paragraph }}</p>
            <a class="internal-link" href="{% url 'blog:about_page' %}">more info on about page...</a>
        </div>
        <div class="div-home-blog-picks">
            <h3>CHECKOUT LATEST BLOG POSTS</h3>
            <ul>
                {% for post in posts %}
                    <a href="{{ post.get_absolute_url }}"><li>{{ post.title }}</li></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="div-home-newsletter">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Subscribe to the newsletter</button>
            <p style="text-align:center;margin-top:1em;">(Sign to the newsletter, no spam — just quality stuff.)</p>
        </form>
        <hr>
    </div>
{% endblock %}
