{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    {% include "blog/includes/search.html" %}
    <div class="posts-container" id="posts-container">
        {% for post in posts %}
            <div class="post-member">
                <h2 class="post-name"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <div class="post-meta">
                    <p class="post-date">{{ post.publish }}</p>
                    <div class="post-tags">
                        {% for tag in post.tags.all %}
                            <a class="single-tag" href="{% url 'blog:post_list_tag' tag.slug %}">
                                <img class="img-tag" src="{% static 'icons/svg/tag.svg' %}" alt="tag">{{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                    <p class="post-desc">{{ post.description }}
                        <a class="internal-link" href="{{ post.get_absolute_url }}">read article</a>
                    </p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% include "blog/includes/pagination.html" with page=posts %}
{% endblock %}
