/* accent-color: lime */

/* fonts, media */
/* ################### */
@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "FiraCode";
    src: url("../fonts/FiraCode-Retina.ttf") format('truetype');
}

/* globals */
/* ################### */
body {
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
}

a {
    color: #ececec;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
    color: #ececec;
    font-family: Roboto-Light, helvetica;
}

p, li {
    font-family: Roboto-Regular, helvetica;
    color: #dbdbdb;
}

code {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    padding: 8px;
    color: lime;
    background-color: #101010;
    font-size: 14px;
    border: 0.1rem solid lime;
    overflow-x: scroll;
}

code::selection {
    color: lime;
    background: #303030;
}

::selection {
    color: lime;
    background: #000000;
}

li {
    padding-bottom: 4px;
}

blockquote {
    background: #141414;
    border-left: 4px solid lime;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

img {
    float: left;
    margin-right: 8px;
    height: 80px;
    width: 80px;
    border-radius: 10%;
}

::-webkit-scrollbar {
    height: 8px;
    width: 4px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: lime;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

/* base template */
/* ################### */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content {
    margin: 0;
    padding: 0;
}

#navigation {
    display: flex;
    top: 0;
    position: sticky;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: thin solid lime;
    border-right: thin solid lime;
    border-left: thin solid lime;
    background-color: #121212;
    justify-content: space-evenly;
}

#blogname {
    font-family: FiraCode, monospace;
    font-size: 16px;
    color: lime;
}

.navlink {
    margin-bottom: 1px;
    font-family: FiraCode, monospace;
}

.navlink:hover {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lime;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    background-color: #121212;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lime;
    text-align: center;
}

#footlink {
    font-family: FireCode, monospace;
    font-size: small;
    color: lime;
}

/* post list and detail */
/* ################### */
#post-container {
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.post {
    background-color: #121212;
    border: solid 0.02rem lime;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    padding: 10px;
}

.post-title {
    border-bottom: 0.1rem solid rgb(79, 80, 79);
    font-size: 18px;
    margin-bottom: 12px;
}

#prepost {
    border-top: thin solid lime;
}

#introblock {
    min-height: 140px;
}

#section-intro {
    min-height: 100px;
}

.sections {
    padding-top: 12px;
}

    /* tags, datepub */
    /* ################### */
.tags {
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

.tag-place {
    margin: 4px 8px 0px 0px;
}

.tag {
    margin: 0;
    padding: 8px;
    display: flex;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    font-family: FiraCode, monospace;
    font-size: 14px;
}

.date {
    color: lime;
    font-family: monospace;
    margin-top: 12px;
}

    /* post detail enchantments */
    /* ################### */

#sharebars {
    padding-top: 16px;
}

#share {
    width: 50%;
    display: inline;
    font-size: 14px;
    font-family: monospace;
    border: 0.1rem solid;
    padding-left: 12px;
    padding-right: 12px;
}

#recommend-post {
    padding-top: 24px;
    font-size: 16px;
}

#postlink {
    font-family: FiraCode, monospace;
    font-size: 16px;
}

    /* comments */
    /* ################### */
#total-comments {
    padding-top: 8px;
    color: lime;
    font-family: monospace;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lime;
}

#commentform {
    display: inline-block;
    padding-bottom: 24px;
}
.comment {
    padding: 10px;
    background: #242424;
    border-bottom: solid thin lime;
    border-right: solid thin lime;
    border-left: solid thin lime;
}
.comment:nth-child(even) {
    color: #d9d9d9;
    background: #19191a;
}
.comment .info {
    font-family: monospace;
    font-size: 12px;
    color: lime;
}

    /* pagination */
    /* ################### */
.pagination {
    font-family: FiraCode, monospace;
    font-size: 14px;
    text-align: center;
    color: #f2f2f3;
    padding-bottom: 3rem;
}

#step-links {
    display: flex;
}

.pagenav {
    font-weight: bold;
    background: #121212;
    color: #fff;
    box-shadow: 1px 1px lime;
    padding: 4px;
    margin: 8px;
}

.nopage {
    font-weight: bold;
    background: #121212;
    color: #121212;
    box-shadow: 1px 1px lime;
    padding: 4px;
    margin: 8px;
}

/* share post via email */
/* ################### */
#inputs-loc {
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

    /* forms */
    /* ################### */
label {
    float: left;
    clear: both;
    color: lime;
    margin-bottom: 4px;
    font-family: monospace;
    font-size: 14px;
}
input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    color: #d9d9d9;
    background: #121212;
    box-shadow: 0.1rem 0.1rem lime;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
    resize: none;
}
input[type=submit] {
    font-weight: bold;
    background: lime;
    color: #19191a;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
input:focus, textarea:focus {
    outline: none !important;
    border: 0;
}
textarea {
    height: 80px;
    width: 100%;
}
.errorlist {
    color: #ff4d79;
    float: left;
    clear: both;
    padding-left: 8px; 
}