{% extends "blog/base.html" %}
{% load blog_tags %}
{% load tz %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <div class="post">

        <!-- Post title, tags and publishing date. -->
        <h1>{{ post.title }}</h1>
        <div class="tags">
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:post_list_tag' tag.slug %}">#{{ tag.name|upper }}</a>
            {% endfor %}
        </div>
        <p class="pubdate">Published: {{ post.publish | localtime }}</p>
        <div class="sharing">
            <a href="{% url 'blog:post_share' post.slug %}">
                <img src="{% static 'icons/mail.svg' %}" alt="mail">
            </a>
            <a href="#">
                <img src="{% static 'icons/rss-square.svg' %}" alt="rss">
            </a>
            <a href="#">
                <img src="{% static 'icons/twitter-square.svg' %}" alt="twitter">
            </a>
            <a href="#">
                <img src="{% static 'icons/reddit-square.svg' %}" alt="reddit">
            </a>
            <a href="https://news.ycombinator.com/submitlink?u={{ request.build_absolute_uri }}">
                <img src="{% static 'icons/hacker-news-square.svg' %}" alt="hn">
            </a>
        </div>

        <!-- Post cover image and body. -->
        <img src="{{ post.img_cover }}" alt="Post header image" class="coverimg">
        <h3 class="toc-h3">TABLE OF CONTENTS:</h3>
        <p>{{ post.body | f_markdown | safe }}</p>
        <br>
        <hr>

        <!-- Misc. -->
        {% if recommend %}
            <h3>Check out other similar blog posts:</h3>
            {% for post in recommend %}
                <ul><li><a id="postlink" href="{{ post.get_absolute_url }}">{{ post.title }}</a></li></ul>
            {% endfor %}
        {% endif %}
        {% with comments.count as total_comments %}
            <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
        {% endwith %}
        {% for comment in comments %}
            <div class="comments">
                <b><p class="comment-author">by {{ comment.name }} | {{ comment.created }}</p></b>
                <p>{{ comment.body|linebreaks }}</p>
            </div>
        {% empty %}
            <p>There are no comments yet. Be the first to comment.</p>
        {% endfor %}
        {% include "blog/post/includes/comment_form.html" %}

    </div>

{% endblock %}
