{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Posts search{% endblock %}

{% block content %}

<div class="searchpage">
    {% if query %}
        <h2>search results for "{{ query }}":</h2>
        <h3>
            {% with results.count as total_results %}
                found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
            <p>{{ post.intro }}</p>
        {% empty %}
            <p>There are no results for your search.</p>
        {% endfor %}
        <p><a href="{% url 'blog:post_search' %}">Search again</a></p>
    {% else %}
        <h2>Search for posts:</h2>
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="search">
        </form>
    {% endif %}
</div>

{% endblock %}
