{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}

<div class="postmail">
    {% if sent %}
        <h2>Email successfully sent.</h2>
        <p>
            Post: {{ post.title }}<br>Sent to:
            <a href="mailto: {{ form.cleaned_data.to_mail }}">{{ form.cleaned_data.to_mail }}</a>
        </p>
    {% else %}
        <h2>share post --- {{ post.title }}</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send mail">
        </form>
    {% endif %}
</div>

{% endblock %}
