{% extends "blog/base.html" %}
{% load static %}
{% block title %}Share a post: {{ post.title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/share.css' %}">
<div class="postmail">
    {% if sent %}
        <h3>Email successfully sent.</h3>
        <p class="post-sent-meta">
            <strong>POST:</strong> {{ post.title }}<br>
            <strong>SENDER:</strong> {{ form.cleaned_data.name }} < <a class="external-link" href="mailto: {{ form.cleaned_data.to_mail }}">{{ form.cleaned_data.email }}</a> ><br>
            <strong>SENT TO:</strong> <a class="external-link" href="mailto: {{ form.cleaned_data.to_mail }}">{{ form.cleaned_data.to_mail }}</a><br>
            <strong>COMMENT:</strong><br>
            {{ form.cleaned_data.comment }}<br><br>
            <a class="internal-link" href="{% url 'blog:post_list' %}{{ post.slug }}">RETURN TO POST</a>
        </p>
    {% else %}
        <h4>share post via server's email:</h4>
        <h3>{{ post.title }}</h3>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send mail">
        </form>
    {% endif %}
</div>
{% endblock %}
