@font-face {font-family:"Victor-Mono";src:url("../fonts/Victor-Mono.ttf") format('truetype');}
@font-face {font-family:"Ubuntu";src:url("../fonts/Ubuntu.ttf") format('truetype');}
@font-face {font-family:"Fragment-Mono";src:url("../fonts/Fragment-Mono.ttf") format('truetype');}
body {background-color:#010814;padding:0 2% 0 2%;text-align:justify;margin:0;padding:0;-webkit-tap-highlight-color:transparent;overflow:scroll;}
body::-webkit-scrollbar {height:100%;width:5px;}
body::-webkit-scrollbar-track {display:none;}
body::-webkit-scrollbar-thumb {background:#555;}
body::-webkit-scrollbar-thumb:hover {background:#888;}
body::-webkit-scrollbar-button {display:none;}
body::-webkit-scrollbar-corner {display:none;}
.page {
    position:relative;
    min-height:100vh;
    max-width:1100px;
    padding:0 5% 0 5%;
    margin-left:auto;
    margin-right:auto;
}
footer {
    display:block;
    position:relative;
    width:100%;
    bottom:0;
    background-color:#00283c;
    height:10em;
}
.name {font-size:28px;}
.skull {font-size:32px;}
.menuicon {font-size:32px;cursor:pointer;}
.responsive-nav {display:flex;width:95%;margin:auto;align-content:space-evenly;}
.responsive-nav-part-one {display:inline;width:100%;}
.responsive-nav-part-two {display:inline;width:auto;}
.responsive-nav-part-two .menuicon {text-align:right;width:100%;}
.overlay {
    height:0%;
    width:100%;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:rgb(0,0,0);
    overflow:hidden;
    transition:0.3s;
}
.overlay-content {
    position:absolute;
    top:25%;
    width:100%;
    text-align:center;
    margin-top:30px;
}
.overlay a {
    font-size:24px;
    padding:8px;
    text-decoration:none;
    font-size:36px;
    color:#818181;
    display:block;
}
.overlay a:hover, .overlay a:focus {color:#f1f1f1;}
.overlay .closebtn {
    position:absolute;
    top:0;
    right:6%;
    margin-top:0;
    font-size:48px;
}
h1 {
    color:#bdbbbb;
    font-family:Victor-Mono,sans-serif;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}
h2, h3, h4 {
    color:#bdbbbb;
    font-family:Ubuntu,sans-serif;
    margin:48px 0 24px 0;
}
.toc-h3 {font-family:Victor-Mono,sans-serif;}
img {
    display:block;
    max-width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:20px;
}
p, ul, ol, li, span {color:#bdbbbb;font-family:Ubuntu,sans-serif;}
a {color:#bdbbbb;font-family:Victor-Mono,sans-serif;}
.root {--pg-width:unset;}
.postgrid {
    display:grid;
    grid: auto auto / auto;
    grid-gap:20px;
    width:100%;
    padding-top:32px;
    padding-bottom:32px;
}
.singlepost {
    border-radius:12px;
    padding:12px;
    background-image:linear-gradient(to top,rgba(4,22,54,0.8),rgba(11,20,38,0.8)), url("../effects/texture.avif");
    background-size:cover;
}
.postgrid h3 {margin:10px 0 10px 0; text-align:left;}
.postgrid h3 a {text-decoration:none; font-family:Fragment-Mono,sans-serif;color:#fff;}
.tags {text-align:left;padding-top:8px;padding-bottom:8px;}
.tags a {
    display:inline-block;
    text-decoration:none;
    font-family:Fragment-Mono,sans-serif;
    background-color:#00283c;
    border:2px solid #00283c;
    border-radius:4px;
    margin-top:4px;
    margin-right:4px;
}
.tags-date p {display:inline;padding:2px;font-family:Fragment-Mono,sans-serif;font-size:14px;color:#999;background-image:linear-gradient(to right,rgba(4,22,54,0.8),rgba(11,20,38,0.8));}
.pagination {display:flex;margin-bottom:32px;align-items:center;justify-content:center;}
.pagination h3 {display:inline-block;margin:0 24px 0 24px;font-size:24px;}
.pagination img, .pagination .nopage, .pagination .pageinfo, .pagination a {display:inline-block;padding:0;}
.pagination .yespage {filter:saturate(50%);}
.pagination .yespage:hover {filter:saturate(100%);}
.pagination .nopage {filter:saturate(0%);}
.sharing a {text-decoration:none;}
.sharing img {
    display:inline;
    padding:0;
    height:32px;
    width:32px;
    filter:invert(13%) sepia(13%) saturate(6715%) hue-rotate(169deg) brightness(94%) contrast(105%);
}
.sharing img:hover {filter:invert(75%) sepia(47%) saturate(7250%) hue-rotate(178deg) brightness(104%) contrast(101%);}
table {table-layout:fixed; width:100%;}
table thead tr th, table tbody tr td {overflow-wrap:break-word;}
table thead tr th {
    color:#dbdbdb;
    background-color:#001925;
    font-family:Fragment-Mono,sans-serif;
    padding:4px 8px 4px 6px;
}
table tbody tr td {
    color:#dbdbdb;
    background-color:#00283c;
    font-family:Fragment-Mono,sans-serif;
    padding:4px 8px 4px 6px;
}
code {
    font-family:Fragment-Mono,sans-serif;
    font-size:14px;
}
.codehilite {
    border:1px solid gray;
    text-align:left;
    padding-left:2px;
    padding-bottom:2px;
    overflow-x:scroll;
}

.codehilite .codehilitetable {
    font-family:Fragment-Mono,sans-serif;
    font-size:14px;
    overflow:fixed;
    width:auto;
}
.codehilite .codehilitetable .linenos .linenodiv {border-right:1px solid gray;}
.codehilite .codehilitetable .linenos {padding-right:8px;}
.codehilite span {font-family:Fragment-Mono,sans-serif;}
.codehilitetable, .codehilitetable tbody tr td {background:#0d1117;}
.toc {
    display:inline-table;
    background:#001925;
    border-left:8px solid #003d5c;
    margin-bottom:16px;
}
.toc li {padding-bottom:2px;}
.toc ul {padding-left:32px; padding-right:12px;}
.toc ul li::marker {font-size:20px; content:"◼ ";}
.toc a {text-decoration: none; font-family:Fragment-Mono,sans-serif;}
label {
    float:left;
    clear:both;
    margin-bottom:4px;
    font-family:Fragment-Mono,sans-serif;
    font-size:14px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    color:#fff;
    background:#00283c;
    box-shadow:0.1rem 0.1rem #001925;
    border:0;
    padding:6px 10px;
    font-size:12px;
    resize:none;
}
input[type=submit] {
    font-weight:bold;
    background:#00283c;
    box-shadow:none;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
input:focus, textarea:focus {
    outline:none !important;
    border:0;
    background-color:rgba(0, 25, 37, 1.5);
    transition:all 0.3s ease;
    z-index:1;
    opacity:25;
}
textarea {width:100%;}
.errorlist {padding-left:18px;}
.errorlist li {color:#ff4d79;float:left;clear:both;padding-bottom:8px;}
.commentform {display:inline-block;padding-bottom:32px;}
.comments {padding:10px; background:#00283c;border:1px solid #00283c;}
.comments:nth-child(even) {background:unset;}
.comments p {font-family:Fragment-Mono,sans-serif;font-size:14px;color:#dbdbdb;}
.comments .comment-author {font-size:16px;}
#postlink{text-decoration:none;}
#postlink:hover{color:#fff;}
.searchpage {display:flex;justify-content:center;padding-top:32px;}
.searchpage form {display:flex;background:#00283c;border-radius:12px;width:98%;}
.searchpage form p {margin:0 12px 0 12px;;width:100%;overflow:hidden;}
.searchpage form p input, .searchpage form p textarea {background:unset; font-size:16px;width:100%;}
.searchpage form input:focus, .searchpage form p input:focus {background:unset;}
.searchpage form p input[type=text] {margin:0;box-shadow:unset;padding:24px 0 24px 0;}
.searchpage form input[type=submit] {display:block;margin:0;background:unset;background-image:linear-gradient(to top,rgba(4,22,54,0.8),rgba(11,20,38,0.8));border-radius:0 12px 12px 0;padding:24px 24px 24px 24px;}

@media only screen and (min-width: 768px)  {
    .name {font-size:32px;}
    .skull {font-size:48px;}
    .responsive-nav-part-two {visibility:hidden;}
    .overlay-content {display:flex;}
    .overlay {
        height:unset;
        width:unset;
        position:unset;
        z-index:unset;
        transition:unset;
        background-color:#010814;
        top:unset;
        left:unset;
    }
    .overlay .closebtn {visibility:hidden;}
    .overlay a {font-size:24px;}
    .overlay-content {position:unset;top:unset;margin-top:unset;}
    a.navlink {padding:12px; padding-left:0;}
    .codehilite {margin-right:10%;margin-left:10%;padding-left:8px;padding-bottom:8px;}
    table {width:unset;}
    .postgrid {grid: auto auto / auto auto auto;}
    .singlepost {
        width:var(--pg-width);background-image:linear-gradient(to bottom,rgba(4,22,54,0.8),rgba(11,20,38,0.8)),url("../effects/texture.avif");
        background-size:cover;
    }
    .singlepost:hover {background-image:linear-gradient(to top,rgba(4,22,54,0.3),rgba(168,50,129,0.3)), url("../effects/texture.avif");transform: scale(105%);}
    .searchpage form {width:75%;}
}
