@font-face {font-family:"Inter-L";src:url("../fonts/Inter-Light.ttf") format('truetype');}
@font-face {font-family:"Inter-M";src:url("../fonts/Inter-Medium.ttf") format('truetype');}
@font-face {font-family:"Victor-Mono";src:url("../fonts/Victor-Mono.ttf") format('truetype');}
body {
  /* general design */
  /* background-color:#121212; */
  background-color:#000;
  font-family:Inter-L,sans-serif;
  text-align:justify;
  overflow:scroll;
  margin:0;
  padding:0;
}
footer {
  width:100%;
  padding-top:0.1em;
  background:linear-gradient(to right,#2E2E2E,#3B3B3B,#2E2E2E);
}
footer .footer-wrap {
  display:block;
  position:relative;
  width:100%;
  bottom:0;
  background-color:#000000;
}
.footer-content {
  max-width:1100px;
  padding:0 5% 0 5%;
  margin-left:auto;
  margin-right:auto;
}
.footer-section {
  display:inline-grid;
  width:30%;
  margin-top:1em;
  margin-bottom:1em;
}
.footer-section .footer-link {
  display:block;
}
.footer-section .footer-link a {
  padding:0.4em;
  text-align:start;
}
.copyright-block {
  display:block;
  width:100%;
  text-align:center;
  color:#0F0;
  margin-bottom:1em;
}
.page {
  position:relative;
  min-height:100vh;
  max-width:1100px;
  padding:0 5% 0 5%;
  margin-left:auto;
  margin-right:auto;
}
hr {color:#3B3B3B;}
.
h1 {
  text-decoration:none;
  color:white;
  font-family:Inter-M,sans-serif;
}
h2, h3, h4, h5, p, a, span, ul, ol, li, tr, th, td, blockquote {
  text-decoration:none;
  color:white;
}
.site-id {
  display:flex;
  border-bottom:solid 0.1em #363534;
  border-left:solid 0.1em #363534;
}
.site-name {
  flex:1;
  padding:1.2em 0.5em 1.2em 0.5em;
}
.menu-open {
  padding:1.2em;
  background:#363534;
  cursor:pointer;
  color:#00FF00;
}
.overlay {
  display:inline-grid;
  height:0%;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#000000;
  overflow:hidden;
  transition:0.3s;
}
.overlay-content {
  text-align:left;
  border-bottom:solid 0.1em #363534;
  padding:0 5% 0 5%;
}
.menu-close {
  display:block;
  padding:1.2em;
  text-align:right;
  color:#00FF00;
}
.mlink {
  display:block;
  font-size:1.5em;
  border-bottom:solid 0.1em #0D0D0D;
  margin-bottom:0.8em;
}
.desktop-navigation {display:none;}
.main-hr {display:none;}
a.internal-link {
  display:inline-block;
  text-decoration:underline;
  color:#00FF00;
}
a.external-link {
  display:inline-block;
  text-decoration:underline;
  font-style:italic;
  color:#00CC00;
}
@media only screen and (min-width: 768px)  {
  /* for desktop screens */
  .main-hr {display:block;}
  .site-id {display:none;}
  .menu-open {display:none;}
  .overlay {display:none;}
  .desktop-navigation {display:block;}
  .desktop-navigation .site-id-desktop {
    font-family:Inter-M,sans-serif;
    font-size:1.5em;
    margin-top:1.2em;
    margin-bottom:0.6em;
  }
  .navlink {padding-right:0.2em;}
  .navlink:hover, .navlink:active {
    color:#00FF00;
    text-decoration:underline;
  }
}

