/* accent-color: lime */

/* fonts, media */
/* ################### */
@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Hack-Regular";
    src: url("../fonts/Hack-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "FiraCode-Retina";
    src: url("../fonts/FiraCode-Retina.ttf") format('truetype');
}

/* globals */
/* ################### */
body {
    background-color: #010814;
    border-left: 0.1rem solid gray;
    border-right: 0.1rem solid gray;
    margin: 0 15px 0 15px;
    padding: 0 15px 0 15px;
}

h1, h2, h3, h4 {
    color: #dbdbdb;
    font-family: FiraCode-Retina, Roboto-Regular;
}

p, ul, ol, li, a, span {
    color: #dbdbdb;
    font-family: Roboto-Regular, FiraCode-Retina;
}

table thead tr th {
    color: #dbdbdb;
    background-color: rgb(82, 82, 82);
    font-family: FiraCode-Retina, Hack-Regular;
    padding: 2px 8px 2px 4px;
}

table tbody tr td {
    color: #dbdbdb;
    background-color: rgb(100, 100, 100);
    font-family: FiraCode-Retina, Hack-Regular;
    padding: 2px 8px 2px 4px;
}

code {
    font-family: Hack-Regular, FiraCode-Retina;
    font-size: 14px;
}

.codehilite {
    border: 1px solid gray;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 8px;
    padding-bottom: 8px;
    overflow-x: scroll;
}

.codehilite .codehilitetable {
    font-family: Hack-Regular, FiraCode-Retina;
    font-size: 14px;
}

.codehilite .codehilitetable .linenos .linenodiv {
    border-right: 1px solid gray;
}

.codehilite .codehilitetable .linenos {
    padding-right: 8px;
}

.codehilite span {
    font-family: Hack-Regular, FiraCode-Retina;
}

.codehilitetable, .codehilitetable tbody tr td {
    background: #0d1117;
}

.toc {
    display: inline-table;
    background: #0d1117;
    border: 0.1rem solid darkgray;
    border-radius: 1rem;
}

.toc ul {
    padding-left: 25px;
    padding-right: 8px;
}