@font-face {
    font-family:"Roboto-Regular";
    src:url("../fonts/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family:"Hack-Regular";
    src:url("../fonts/Hack-Regular.ttf") format('truetype');
}
@font-face {
    font-family:"FiraCode-Retina";
    src:url("../fonts/FiraCode-Retina.ttf") format('truetype');
}
body {
    background-color:#010814;
    padding:0 2% 0 2%;
    text-align:justify;
}

.name {
    font-size: 24px;
}

.skull {
    font-size: 32px;
}

.menuicon {
    font-size: 32px;
    cursor: pointer;
}

.responsive-nav {
    display: flex;
    align-content: space-evenly;
}

.responsive-nav-part-one {
    display: inline-block;
    width: 100%;
}

.responsive-nav-part-two {
    display: flex;
    width: auto;
}

.responsive-nav-part-two .menuicon {
    text-align: right;
    width: 100%;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-y: hidden;
    transition: 0.3s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    font-size: 24px;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 48px;
}

h1, h2, h3, h4 {
    color: #dbdbdb;
    font-family: FiraCode-Retina, Roboto-Regular;
}

h1 {
    text-align: center;
}

p, ul, ol, li, a, span {
    color: #dbdbdb;
    font-family: Roboto-Regular, FiraCode-Retina;
}

table {
    table-layout: fixed;
    width: 100%;
}

table thead tr th, table tbody tr td {
    overflow-wrap: break-word;
}

table thead tr th {
    color: #dbdbdb;
    background-color: #001925;
    font-family: FiraCode-Retina, Hack-Regular;
    padding: 4px 8px 4px 6px;
}

table tbody tr td {
    color: #dbdbdb;
    background-color: #00283c;
    font-family: FiraCode-Retina, Hack-Regular;
    padding: 4px 8px 4px 6px;
}

code {
    font-family: Hack-Regular, FiraCode-Retina;
    font-size: 14px;
}

.codehilite {
    border: 1px solid gray;
    text-align: left;
    padding-left: 2px;
    padding-bottom: 2px;
    overflow-x: scroll;
}

.codehilite .codehilitetable {
    font-family: Hack-Regular, FiraCode-Retina;
    font-size: 14px;
    overflow: fixed;
    width: auto;
}

.codehilite .codehilitetable .linenos .linenodiv {
    border-right: 1px solid gray;
}

.codehilite .codehilitetable .linenos {
    padding-right: 8px;
}

.codehilite span {
    font-family: Hack-Regular, FiraCode-Retina;
}

.codehilitetable, .codehilitetable tbody tr td {
    background: #0d1117;
}

.toc {
    display: inline-table;
    background: #0d1117;
    border-top: 0.1rem solid gray;
    border-right: 0.1rem solid gray;
    border-left: 0.1rem solid gray;
    border-bottom: 0.1rem solid gray;
    margin-bottom: 20px;
    width: 100%;
}

.toc ul {
    padding-left: 25px;
    padding-right: 8px;
}

.toc ul li::marker {
    content: "❖ ";
}

.toc a {
    text-decoration: none;
    font-family: FiraCode-Retina, Roboto-Regular;
}

@media only screen and (min-width: 768px)  {
    body {padding:0 10% 0 10%;}
    .name {font-size:32px;}
    .skull {font-size:48px;}

    .responsive-nav-part-two {
        visibility: hidden;
    }
    .overlay-content {
        display: flex;
    }
    .overlay {
        height: unset;
        width: unset;
        position: unset;
        z-index: unset;
        transition: unset;
        background-color:#010814;
        top: unset;
        left: unset;
    }
    .overlay .closebtn {
        visibility: hidden;
    }
    .overlay a {
        font-size: 24px;
    }
    .overlay-content {
        position: unset;
        top: unset;
        margin-top: unset;
    }
    a.navlink {
        padding: 12px;
        padding-left: 0;
    }
    .toc {
        width: unset;
    }
    .codehilite {
        margin-right: 10%;
        margin-left: 10%;
        padding-left: 8px;
        padding-bottom: 8px;
    }
}
