/* search */
.searchbar {
  display:flex;
  justify-content:center;
  padding-top:1.5em;
}
.searchbar .form-wrap {
  display:block;
  width:100%;
  padding:0.1em;
  background:#121212;
  border:solid 0.1em #00FF00;
}
.searchbar .form-wrap form {
  display:flex;
  justify-content:center;
}
.searchbar .form-wrap form p {
  display:flex;
  width:90%;
  padding-left:1.4em;
  padding-right:1.4em;
  margin-top:0.3em;
  margin-bottom:0.3em;
}
.searchbar .form-wrap form p input {
  display:flex;
  width:100%;
  background:unset;
  border:unset;
  font-size:1em;
  color:#DDD;
  background:unset;
}
.searchbar .form-wrap form p input:active {
  border:unset;
}
.btn-img-input {
  height:1.6em;
  width:10%;
  padding:1em;
  background:#00FF00;
  filter:invert(0%) sepia(0%) saturate(150%) hue-rotate(12deg) brightness(80%) contrast(80%);
}
textarea:focus, input:focus {
  outline:none;
}
/* listing */
.posts-container .post-member .post-name {margin-bottom:0;text-align:start;}
.post-member {padding-top:1.5em;}
.post-tags {
  color:#000;
  /* background:#3B3B3B; */
  border-bottom:solid 0.05em #00FF00;
  border-radius:0.3em 0.3em 0 0;
  padding:0.4em 0.4em 0.4em 0.4em;
  background-color: #e5e5f7;
  opacity: 0.9;
  background-size: 0.5em 0.5em;
  background-image: repeating-linear-gradient(45deg, #000 0, #000 0.1em, #00FF00 0, #00FF00 25%);
}
.post-tags a {
  color:#00FF00;
  background:#000;
  margin-right:0.3em;
  border:solid 0.1em #00FF00;
  border-radius:0.3em;
  padding:0.1em;
}
.img-tag {
  height:1em;
  object-fit:cover;
  vertical-align:middle;
  margin-right:0.2em;
  filter:invert(55%) sepia(32%) saturate(4894%) hue-rotate(84deg) brightness(129%) contrast(119%);
}
/* pagination */
.list-pages {
  display:flex;
  justify-content:center;
  font-size:0.8em;
  padding-top:1.5em;
  padding-bottom:1.5em;
}
.first-page, .previous-page, .current-page, .next-page, .last-page {
  padding:0.1em;
  margin-left:0.2em;
  margin-right:0.2em;
  font-family:Victor-Mono,monospace;
}
.current-page {
  background:#3B3B3B;
}
@media only screen and (min-width: 768px)  {
  /* for desktop screens */
  .list-pages {
    font-size:1em;
  }
  .first-page, .previous-page, .current-page, .next-page, .last-page {
  padding:0.2em;
  margin-left:0.3em;
  margin-right:0.3em;
  }
  .searchbar .form-wrap {
    width:50%;
  }
}
