{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ request.site }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/blogcore.css' %}">
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
</head>

<body>
    <div class="page">
        <!-- Navigation -->
        <div class="topnav" id="navResponse">
            <span>{{ request.site.name }}</span>
            <a href="{% url 'blogcore:post_list' %}" class="navlink">blog</a>
            <a href="{% url 'blogcore:post_search' %}" class="navlink">search</a>
            <a href="javascript:void(0);" class="menuicon" onclick="menuBar()">
                <svg viewBox="0 0 100 50" width="32" height="32" class="menustyle" fill="#dbdbdb">
                    <rect width="100" height="8"></rect>
                    <rect y="30" width="100" height="8"></rect>
                    <rect y="60" width="100" height="8"></rect>
                </svg>
            </a>
            </div>
        </div>

        <!-- Content -->
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer></footer>
    </div>

<script>
function menuBar() {
    var x = document.getElementById("navResponse");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</body>
</html>
