{% load static %}

<div id="navigation">
    <p><a id="blogname" href="https://github.com/noctdruid/blog">v0.1.7</a></p>
    <div class="singlenav"><a href="{% url 'blogcore:post_list' %}"><p class="navlink">main</p></a></div>
    <div class="singlenav"><a href="{% url 'blogcore:post_list' %}"><p class="navlink">about</p></a></div>
    <div class="singlenav"><a href="{% url 'blogcore:post_list' %}"><p class="navlink">docs</p></a></div>
    <div class="singlenav"><a href="{% url 'blogcore:post_list' %}"><p class="navlink">github</p></a></div>
    <div class="singlenav"><a href="{% url 'blogcore:post_list' %}"><p class="navlink">projects</p></a></div>
</div>
