{% extends "blogcore/base.html" %}
{% load blogcore_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <div id="postcontainer">

        <!-- Post title, date and topics. -->
        <h2 id="post-title">{{ post.title }}</h2>
        <div class="topics">
            {% for tag in post.tags.all %}
                <a class="topic-rm" href="{% url 'blogcore:post_list_tag' tag.slug %}">
                    <p class="topic">{{ tag.name|upper }}</p>
                </a>
                {% if not forloop.last %}{% endif %}
            {% endfor %}
        </div>

        <div id="datecont">
            <p id="date">Published on {{ post.publish }}</p>
        </div>

        <!-- Post introduction and body. -->
        <div id="post-acc-hr">
            <h2>Introduction</h2>
            <p class="introfoot">{{ post.intro|markdown }}</p>
            <hr>
            <div id="postbody">{{ post.body|markdown }}</div>
            <hr>
        </div>

        <!-- Share, recommendations and comments. -->
        <div id="sharebars">
            <p id="share">
                <a href="{% url 'blogcore:post_share' post.slug %}">share via email</a>
                <b>|</b>
                <a href="#">newsletters</a>
                <b>|</b>
                <a href="{% url 'blogcore:post_feed' %}">feed</a>
            </p>
        </div>

        <h3 id="hrecommend"><i>Recommended blog posts:</i></h3>
        {% for post in recommend %}
            <p>
                <ul>
                    <li><a id="postlink" href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                </ul>
            </p>
        {% empty %}
            <p>There are no similar posts.</p>
        {% endfor %}

        {% with comments.count as total_comments %}
            <h3 id="totalcomm"><i>{{ total_comments }} comment{{ total_comments|pluralize }}</i></h3>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">by {{ comment.name }} | {{ comment.created }}</p>
                {{ comment.body|linebreaks }}
            </div>
        {% empty %}
            <p>There are no comments.</p>
        {% endfor %}

        {% include "blogcore/post/includes/comment_form.html" %}

    </div>

{% endblock %}
