{% extends "blogcore/base.html" %}
{% load blogcore_tags %}

{% block content %}
    <div id="post-container">
        {% for post in posts %}
            <div class="post">
                <h4 class="post-title">
                    <a href="{{ post.get_absolute_url }}">&raquo; {{ post.title }}</a>
                </h4>

                <div class="tags">
                    {% for tag in post.tags.all %}
                        <a class="tag-place" href="{% url 'blogcore:post_list_tag' tag.slug %}">
                            <p class="tag">{{ tag.name|upper }}</p>
                        </a>
                        {% if not forloop.last %} {% endif %}
                    {% endfor %}
                </div>

                <p class="date">Published {{ post.publish }}</p>

                <div id="section-intro"><p>{{ post.intro|markdown }}</p></div>
            </div>
        {% endfor %}
        {% include "blogcore/post/pagination.html" with page=posts %}
    </div>
{% endblock %}
