<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a class="pagenav" href="?page={{ page.previous_page_number }}">PREV</a>
        {% else %}
            <a class="nopage">PREV</a>
        {% endif %}
            <p class="current">{{ page.number }} of {{ page.paginator.num_pages }}</p>
        {% if page.has_next %}
            <a class="pagenav" href="?page={{ page.next_page_number }}">NEXT</a>
        {% else %}
            <a class="nopage">NEXT</a>
        {% endif %}
    </span>
</div>
