{% extends "blogcore/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h2>Email successfully sent.</h2>
        <p>
            Post: {{ post.title }}<br>Sent to:
            <a href="mailto: {{ form.cleaned_data.to_mail }}">{{ form.cleaned_data.to_mail }}</a>
        </p>
    {% else %}
        <i><h4>share a post:</h4></i><br><h2>{{ post.title }}</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send mail">
        </form>
    {% endif %}
{% endblock %}
